<div class="group-details">
	<div class="group-name"><%= group.name %></div>
	<div class="group-key"><%= group.key %></div>
	<ul class="group-users">
		<% for (var i = 0; i < group.members.length; i++) { %>
		<% var user = group.members[i]; %>
		<li class="user-tiny-area">
			<span class="user-status user-status-<%= user.status %>"></span>
			<a class="user-name" href=""><%= user.username %></a>
		</li>
		<% } %>
	</ul>
</div>