<form class="group-form">
	<dl>
		<dt><label for="group-name"></label>Name</dt>
		<dd><input type="text" id="group-name" /></dd>
		<dt><label for="group-key">Key</label></dt>
		<dd><input type="text" id="group-key" /></dd>
		<dd>
			<button type="submit">Send</button>
		</dd>
	</dl>
</form>