<form class="group-form">
	<dl>
		<dt><label for="group_name"></label>Name</dt>
		<dd><input type="text" id="group_name" class="group-name" /></dd>
		<dt><label for="group_key">Key</label></dt>
		<dd><input type="text" id="group_key" class="group-key" /></dd>
		<dd>
			<button type="submit">Send</button>
		</dd>
	</dl>
</form>