<form class="login-form">
	<dl>
		<dt><label for="login_username">Username</label></dt>
		<dd><input type="text" id="login_username" class="login-username" required value="" /></dd>
		<dt><label for="login_password">Password</label></dt>
		<dd><input type="password" id="login_password" class="login-password" required value="" /></dd>
	</dl>
	<button type="submit" class="btn-login">Login</button>
	<button type="submit" class="btn-signup">Sign up</button>
</form>