<form class="login-form">
	<dl>
		<dt>Username</dt>
		<dd><input type="text" name="field-username" class="username" required value="" /></dd>
		<dt>Password</dt>
		<dd><input type="password" name="field-password" class="password" required value="" /></dd>
	</dl>
	<button class="btn-login">Login</button>
	<button class="btn-signup">Sign up</button>
</form>