<form class="topic-form">
	<dl>
		<dt><label for="topic_title">Title</label></dt>
		<dd><input id="topic_title" class="topic-title" type="text"/></dd>
		<dt><label for="topic_privacy">Privacy</label></dt>
		<dd><input id="topic_privacy" class="topic-privacy" type="text"/></dd>
		<dt><label for="topic_tags">Tags</label></dt>
		<dd><input id="topic_tags" class="topic-tags" type="text"/></dd>
		<dd>
			<button type="submit">Send</button>
		</dd>
	</dl>
</form>